{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}<title>补缴</title>{% endblock %}
{% block content %}
<style>
.personal_info{
    font-size: large;
    border-bottom: hidden;

}
input{
    text-align: right;
}
#mDatePicker section p{
    font-size: 16px;
}
#mDatePicker div ul li{
    font-size: 16px;
}
</style>
<div class="weui-cells weui-cells_form">
    <form id="mainForm" method="post">
    <div class="weui-cell" style="background-color: #f0f0f0;">
        <div class="weui-cells__title personal_info" >社保补缴信息</div>
    </div>
     <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">社保缴纳基数</label></div>
        <div class="weui-cell__bd">
             <input class="weui-input" type="number" pattern="[0-9]*" class="ymDemo" name="jiaonajishu" value="2030"/>
        </div>
    </div>

     <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">补缴起始月</label></div>
        <div class="weui-cell__bd">
             <input class="weui-input sb_starttime" type="text"  name="sb_starttime" value=""/>
        </div>
    </div>
     <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">补缴结束月</label></div>
        <div class="weui-cell__bd">
             <input class="weui-input sb_endtime" type="text"  name="sb_endtime" value=""/>
        </div>
    </div>
     <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">补缴月份</label></div>
        <div class="weui-cell__bd">
             <input class="weui-input sb_bujiaoyuefen" type="text" disabled value=""/>
        </div>
    </div>
    <div class="weui-cell" style="background-color: #f0f0f0;">
           <div class="weui-cells__title personal_info">公积金补缴信息</div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">补缴起始月</label></div>
        <div class="weui-cell__bd">
             <input class="weui-input gjj_starttime" type="text"  name="gjj_starttime" value=""/>
        </div>
    </div>
     <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">补缴结束月</label></div>
        <div class="weui-cell__bd">
             <input class="weui-input gjj_endtime" type="text"  name="gjj_endtime" value=""/>
        </div>
    </div>
     <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">补缴月份</label></div>
        <div class="weui-cell__bd">
             <input class="weui-input gjj_bujiaoyuefen" type="text" disabled value=""/>
        </div>
    </div>
    <div class="weui-cell" style="background-color: #f0f0f0;"></div>
    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">社保&公积金</label></div>
        <div class="weui-cell__bd">
             <input class="weui-input" type="text" disabled value="每月"/>
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">养老</label></div>
        <div class="weui-cell__bd">
             <input class="weui-input" type="number" pattern="[0-9]*" name="yanglao" value="0.00"/>
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">医疗</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="number" pattern="[0-9]*" name="yiliao" value="0.00"/>
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">失业</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="number" pattern="[0-9]*" name="shiye" value="0.00"/>
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">工伤</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="number" pattern="[0-9]*" name="gongshang" value="0.00"/>
        </div>
    </div>

    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">生育</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="number" pattern="[0-9]*" name="shengyu" value="0.00"/>
        </div>
    </div>

    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">大额医疗</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="number" pattern="[0-9]*" name="daeyiliao" value="0.00"/>
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">残障金</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="number" pattern="[0-9]*" name="canzhangjin" value="128.00"/>
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">公积金</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="number" pattern="[0-9]*" name="gongjijin" value="0.00"/>
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">社保缴纳月数</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="number" pattern="[0-9]*" name="sb_jiaonayueshu" value="2"/>
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">公积金缴纳月数</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="number" pattern="[0-9]*" name="gjj_jiaonayueshu" value="2"/>
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">服务费</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="number" pattern="[0-9]*" name="fuwufi" value="128.00"/>
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">总计</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="number" pattern="[0-9]*" name="zongji" value="428.00"/>
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd"><span class="ion-android-checkbox" style="font-size:larger;color: #4abf58;"></span>&nbsp;&nbsp;我同意<span style="color: #4abf58;">《91社保用户服务协议》</span></div>
    </div>
    </form>
</div>
<div class="weui-btn-area">
    <div class="weui-cell__hd">合计:&nbsp;&nbsp;<span style="color: #de5151;">555.00</span><a class="weui-btn weui-btn_primary" href="javascript:;" id="submitBtn">提交</a></div>
</div>
<div id="mDateMask"></div>
<script type="text/javascript">
//社保
  $('.sb_starttime').click(function()
  {
    $(this).mydate({format:"yyyy,MM"},function(str){
    $('.sb_starttime').val(str);
    if($('.sb_endtime').val()){
        var sb_bujiaoyuefen=str+'至'+$('.sb_endtime').val();
        $('.sb_bujiaoyuefen').val(sb_bujiaoyuefen);
    }
    },function(){}
    );
  });

  $('.sb_endtime').click(function()
  {
    $(this).mydate({format:"yyyy,MM"},function(str){
    $('.sb_endtime').val(str);
        if($('.sb_starttime').val()){
        var sb_bujiaoyuefen=$('.sb_starttime').val()+'至'+str;
        $('.sb_bujiaoyuefen').val(sb_bujiaoyuefen);
    }
    },function(){});
  });
//公积金
  $('.gjj_starttime').click(function()
  {
    $(this).mydate({format:"yyyy,MM"},function(str){
    $('.gjj_starttime').val(str);
    if($('.gjj_endtime').val()){
        var gjj_bujiaoyuefen=str+'至'+$('.gjj_endtime').val();
        $('.gjj_bujiaoyuefen').val(gjj_bujiaoyuefen);
    }
    },function(){}
    );
  });

  $('.gjj_endtime').click(function()
  {
    $(this).mydate({format:"yyyy,MM"},function(str){
    $('.gjj_endtime').val(str);
        if($('.gjj_starttime').val()){
        var gjj_bujiaoyuefen=$('.gjj_starttime').val()+'至'+str;
        $('.gjj_bujiaoyuefen').val(gjj_bujiaoyuefen);
    }
    },function(){});
  });
</script>
{% include 'include/ajax_form_js.html' %}
<script type="text/javascript" src="{% static 'wechat/js/bujiao.js' %}"></script>
<script type="text/javascript" src="{% static 'wechat/js/iscroll.js' %}"></script>
<script type="text/javascript" src="{% static 'wechat/js/date.js' %}"></script>
<link rel="stylesheet" href="{% static 'wechat/css/date.css' %}">

{% endblock %}


