{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<div class="invester-all it-province">
    <label class="invest-lable">省：</label>
    <select id="province" name="province" data-default="">
        <option value="请选择">请选择</option>
    </select>
</div>
<div class="invester-all it-city">
    <label class="invest-lable">市：</label>
    <select id="city" name="city" data-default="">
        <option value="请选择">请选择</option>
    </select>
</div>
<div class="invester-all it-district">
    <label class="invest-lable">区：</label>
    <select id="district" name="district" data-default="">
        <option value="请选择">请选择</option>
    </select>
</div>
</body>

<script type="text/javascript" src="{% static 'wechat/js/jquery-2.1.3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'wechat/js/linkage.js' %}"></script>

<script type="text/javascript">
    var myLink = LinkAge({
        provinceEl: So('#province').eq(1),
        cityEl: So('#city').eq(1),
        districtEl: So('#district').eq(1)
    });
</script>
</html>