{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="weui-cells weui-cells_form">
        <form id="mainForm">
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">手机号码</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" name="username" placeholder="请输入"/>
                </div>
                {#                 <div class="weui-cell__ft">#}
                {#                    <i class="weui-icon-warn"></i>#}
                {#                </div>#}
            </div>
            {#            pattern="[0-9]*"#}
            <div class="weui-cell weui-cell_vcode">
                <div class="weui-cell__hd">
                    <label class="weui-label">验证码</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="tel" name="verifycode" placeholder="请输入" value="123456">
                </div>
                <div class="weui-cell__ft">
                    <a href="javascript:;" class="weui-vcode-btn">获取验证码</a>
                </div>
            </div>
            <div class="weui-btn-area">
                <a class="weui-btn weui-btn_primary" href="javascript:;" id="submitBtn">确定</a>
            </div>
        </form>
    </div>

    <script type="text/javascript" src="{% static 'wechat/js/jquery.validate.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'wechat/js/additional.js' %}"></script>
    <script type="text/javascript" src="{% static 'wechat/js/nature.ajax.js' %}"></script>

    <script type="text/javascript">
        var formSubmit = Nature.FormSubmit;
        ajaxInfo = {
            url: "/wechat/login/", //ajax请求url
            success_redirect_url: "/wechat/main/" //请求成功跳转url
        }

        formSubmit({
            rules: {
                username: {
                    required: true
                }
            },
            messages: {
                username: {
                    required: "用户名不能为空"
                }
            }
        }, ajaxInfo)
    </script>

{% endblock %}


{# comment #}