{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="weui-cells weui-cells_form">
        <form id="mainForm">
            {% csrf_token %}
            <input type="hidden" name="user_id" value="{{ user_id }}"/>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">手机号码</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="number" pattern="[0-9]*" name="mobile" required placeholder="请输入"/>
                </div>
            </div>
            <div class="weui-cell weui-cell_vcode">
                <div class="weui-cell__hd">
                    <label class="weui-label">验证码</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="number" name="verifycode" required placeholder="请输入">
                </div>
                <div class="weui-cell__ft">
                    <a href="javascript:;" class="weui-vcode-btn">获取验证码</a>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">密码</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="password" id="password" name="password" required minlength="6"
                           placeholder="请输入"/>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">确认密码</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="password" name="password2" required minlength="6"
                           placeholder="请输入"/>
                </div>
            </div>
            <div class="weui-btn-area">
                <a class="weui-btn weui-btn_primary" href="javascript:;" id="submitBtn">提交</a>
            </div>
        </form>
    </div>

    {% include 'include/ajax_form_js.html' %}

    <script type="text/javascript">
        var formSubmit = Nature.FormSubmit;
        user_id = $("input[name=user_id]").val();
        ajaxInfo = {
            url: "{% url 'wechat:register' user_id %}", //ajax请求url
            success_redirect_url: {% url 'wechat:main' %} //请求成功跳转url
        }

        formSubmit({
                    rules: {
                        mobile: {
                            isMobile: true
                        },
                        password2: {
                            equalTo: '#password'
                        }
                    },
                    messages: {
                        mobile: {
                            isMobile: "请填写正确的手机号码"
                        },
                        password2: {
                            equalTo: "两次密码不一致"
                        }
                    },
                },
                ajaxInfo
        )
    </script>

{% endblock %}


{# comment #}