{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}<title>完善注册</title>{% endblock %}

{% block content %}
    <link type="text/css" rel="stylesheet" href="{% static 'wechat/css/font-awesome.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'wechat/css/wx-main.css' %}">
    <link type="text/css" rel="stylesheet" href="http://weixin.mayihr.com/Static/weixin_less/login.css?v=1">

    <div class="container">
        <header class="header tc"><img src="{% static 'wechat/img/logo-circle.png' %}" class="d-ib logo"/></header>
        <div class="row captcha_login">
            <form id="mainForm">
                {% csrf_token %}
                <input type="hidden" name="user_id" value="{{ user_id }}"/>
                <div class="form-group inline">
                    <div class="control-group bg-w ">
                        <label class="control-label">
                            <i class="icon-mobile m-f"></i>
                            <span class="v-m">+86</span>
                        </label>
                        <div class="controls">
                            <input type="tel" placeholder="手机号" id="mobile" name="mobile" required>
                        </div>
                    </div>
                    <div class="control-group bg-w">
                        <label class="control-label">
                            <i class="icon-shield m-f"></i>
                        </label>
                        <div class="controls">
                            <input type="number" name="verifycode" class=" s-control" required
                                   placeholder="验证码" oninput="if(value.length>6)value=value.slice(0,6)">
                            <button type="button" class="btn fr" id="get_captcha">获取验证码</button>
                        </div>
                    </div>
                    <div class="control-group bg-w">
                        <label class="control-label">
                            <i class="icon-shield m-f"></i>
                        </label>
                        <div class="controls pwd">
                            <input type="password" id="password" name="password" required
                                   minlength="8" placeholder="密码">
                        </div>
                    </div>
                    <div class="control-group bg-w">
                        <label class="control-label">
                            <i class="icon-shield m-f"></i>
                        </label>
                        <div class="controls pwd">
                            <input type="password" name="password2" required minlength="8"
                                   placeholder="再次确认密码">
                        </div>
                    </div>
                </div>
                <div class="btn-group">
                    <a href="javascript:;" id="submitBtn" class="btn tn full-w">提交</a>
                </div>
            </form>
        </div>
    </div>

    {% include 'include/ajax_form_js.html' %}
    {% include 'include/toast_dialog.html' %}

    <script type="text/javascript">
        var formSubmit = Nature.FormSubmit;
        user_id = $("input[name=user_id]").val();
        next = "{{ next }}"
        if (!next) {
            next = "{% url 'wechat:main' %}"
        }
        ajaxInfo = {
            url: "{% url 'wechat:register' user_id %}", //ajax请求url
            success_redirect_url: next //请求成功跳转url
        }

        formSubmit({
                rules: {
                    mobile: {
                        isMobile: true
                    },
                    password2: {
                        equalTo: '#password'
                    }
                },
                messages: {
                    mobile: {
                        required: '提示：请输入手机号码',
                        isMobile: '提示：请填写正确的手机号码'
                    },
                    verifycode: {
                        required: '提示：请输入短信验证码'
                    },
                    password: {
                        required: '提示：请输入密码'
                    },
                    password2: {
                        equalTo: "提示：两次密码不一致"
                    }
                },
            },
            ajaxInfo
        )
    </script>

    <script type="text/javascript">
        //获取验证码
        $("#get_captcha").click(function () {
            var mobile = $("#mobile").val();
            var obj = $(this);
            if (!checkIsMobile(mobile)) {
                addError("mobile", "请输入正确的手机号码");
                $("#mobile").focus();
                return false;
            }
            $.post("{% url 'wechat:getverifycode' %}", {mobile: mobile}, function (data) {
                if (data.recode == '10000') {
                    timeCountDown(obj);
                }
                else {
                    $('.weui-dialog__bd').html('data.msg')
                    $('#jsDialog').fadeIn(200)
                }
            }, 'json');
        });

        //倒计时
        var time = 60;
        function timeCountDown(obj) {
            if (time == 0) {
                obj.attr("disabled", false);
                obj.removeClass("disabled")
                obj.text("获取验证码");
            } else {
                obj.attr("disabled", true);
                obj.addClass("disabled");
                obj.text(time + "秒");
                time--;
                setTimeout(function () {
                        timeCountDown(obj)
                    }, 1000);
            }
        }
    </script>

{% endblock %}