{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}<title>五险一金</title>{% endblock %}
{% block content %}
    <style>
        .personal_info {
            font-size: large;
            border-bottom: hidden;

        }

        input {
            text-align: right;
        }

        #mDatePicker section p {
            font-size: 16px;
        }

        #mDatePicker div ul li {
            font-size: 16px;
        }

        .weui-btn_mini {
            float: right;
        }
    </style>
    <div class="weui-cells weui-cells_form">
        <form id="mainForm" method="post">
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">缴纳社保</label></div>
                <div class="weui-cell__bd">
                    <span><a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_default">缴纳</a></span>
                    <span><a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary">不缴</a></span>
                </div>
            </div>

            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">缴纳基数</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="number" pattern="[0-9]*" class="ymDemo" name="social_basic"
                           value="2030"/>
                </div>
            </div>
            <div class="weui-cell" style="background-color: #f0f0f0;"></div>

            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">缴纳公积金</label></div>
                <div class="weui-cell__bd">
                    <span><a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_default">缴纳</a></span>
                    <span><a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary">不缴</a></span>
                </div>
            </div>

            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">缴纳基数</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="number" pattern="[0-9]*" class="ymDemo" name="fund_basic"
                           value="2030"/>
                </div>
            </div>
            <div class="weui-cell" style="background-color: #f0f0f0;"></div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">起始月份</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input gjj_starttime" type="text" name="social_start" value=""/>
                </div>
                <span class="ion-ios-arrow-down" style="float: right;"></span>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">结束月份</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input gjj_starttime" type="text" name="social_end" value=""/>
                </div>
                <span class="ion-ios-arrow-down" style="float: right;"></span>
            </div>
            <div class="weui-cell" style="background-color: #f0f0f0;"></div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">账单明细</label></div>
                <div class="weui-cell__bd">
                    <span style="float: right">每月</span>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">养老</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="number" pattern="[0-9]*" name="yanglao" value="0.00"/>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">医疗</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="number" pattern="[0-9]*" name="yiliao" value="0.00"/>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">失业</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="number" pattern="[0-9]*" name="shiye" value="0.00"/>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">工伤</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="number" pattern="[0-9]*" name="gongshang" value="0.00"/>
                </div>
            </div>

            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">生育</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="number" pattern="[0-9]*" name="shengyu" value="0.00"/>
                </div>
            </div>

            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">大额医疗</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="number" pattern="[0-9]*" name="daeyiliao" value="0.00"/>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">残障金</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="number" pattern="[0-9]*" name="canzhangjin" value="128.00"/>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">缴纳月数</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="number" pattern="[0-9]*" name="sb_jiaonayueshu" value="2"/>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">服务费</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="number" pattern="[0-9]*" name="fuwufi" value="40"/>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">总计</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="number" pattern="[0-9]*" name="zongji" value="428.00"/>
                </div>
            </div>
            <div class="weui-cell" style="background-color: #f0f0f0;">
                <div class="weui-cell__hd"><span class="ion-android-checkbox"
                                                 style="font-size:larger;color: #4abf58;"></span>&nbsp;&nbsp;我同意<span
                        style="color: #4abf58;">《91社保用户服务协议》</span></div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"></div>
            </div>

            <div class="weui-cell">

                <div class="weui-footer weui-footer_fixed-bottom" style="background-color:white;margin-bottom: -7px;">
                    <div class="weui-cell__hd" style="height: 46px;line-height: 46px">
                        <span style="">账单金额:&nbsp;&nbsp;</span>
                        <span style="color: #de5151;">555.00元</span>
                        <a class="weui-btn weui-btn_primary" style="width: 50%;height:100%;float: right"
                           href="javascript:;" id="submitBtn">确认订单</a>
                    </div>
                </div>

            </div>
        </form>

    </div>

    <div id="mDateMask"></div>

    <script type="text/javascript">
        //社保
        $('.sb_starttime').click(function () {
            $(this).mydate({format: "yyyy,MM"}, function (str) {
                        $('.sb_starttime').val(str);
                    }, function () {
                    }
            );
        });

        //公积金
        $('.gjj_starttime').click(function () {
            $(this).mydate({format: "yyyy,MM"}, function (str) {
                        $('.gjj_starttime').val(str);
                    }, function () {
                    }
            );
        });
    </script>
    {% include 'include/ajax_form_js.html' %}
    <script type="text/javascript" src="{% static 'wechat/js/bujiao.js' %}"></script>
    <script type="text/javascript" src="{% static 'wechat/js/iscroll.js' %}"></script>
    <script type="text/javascript" src="{% static 'wechat/js/date.js' %}"></script>
    <link rel="stylesheet" href="{% static 'wechat/css/date.css' %}">

{% endblock %}


