{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}<title>基本信息</title>{% endblock %}

{% block content %}
<link type="text/css" rel="stylesheet" href="{% static 'wechat/css/font-awesome.min.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'wechat/css/wx-main.css' %}">
	<link type="text/css" rel="stylesheet" href="http://weixin.mayihr.com/Static/weixin_less/add.css?v=1.54">
 	<!--[if lt IE 9]>
   <script src="js/html5shiv.js"></script>
   <script src="js/selectivizr-min.js"></script>
   <![endif]-->
</head>
	<div class="container">	
		<div class="row">
			<!--添加员工信息-->
			<form class="" id="basic-form">
				<div class="form-group inline bg-w">
	<div class="control-group b-b ">
		<label class="control-label ">
			姓名
		</label>
		<div class="controls tr">
			<input type="text" value="李超" id="yg_name" name="yg_name" class="tr">
		</div>
	</div>
	<div class="control-group b-b">
		<label class="control-label ">
			邮箱地址
		</label>
		<div class="controls tr">
			<input type="text" value="979071224@qq.com" id="yg_email" name="yg_email" class="tr">
		</div>
	</div>
	<div class="control-group b-b">
		<label class="control-label ">
			证件号码
		</label>
		<div class="controls tr">
			<input type="text" value="371326199112137016" id="yg_identity" name="yg_identity" class="tr">
		</div>
	</div>
	<div class="control-group b-b">
		<label class="control-label ">
			参保地区
		</label>
		<div class="controls tr" >
			<select id="social_pro" class="tr half-control">
						<option value='1' >北京海淀</option><option value='17' >北京朝阳</option><option value='20' >上海市</option><option value='45' selected='selected'>深圳</option><option value='88' >杭州</option><option value='99' >湖州</option><option value='240' >武汉</option>					</select>
					<select id="social_city" name="yg_city" class="tr half-control">
						<option value='45' selected>深圳</option>					</select>
						</div>
	</div>
	<div class="control-group ">
		<label class="control-label ">
			户口类型
		</label>
		<div class="controls tr">
			<select id="" name="yg_hk_type" class="tr">
														<option value = '1'>本地城镇</option><option value = '2' selected = "selected">本地农村</option>
																<option value = '3'>外地城镇</option>								<option value = '4'>外地农村</option>								<option value = '5'>外籍人员</option>					</select>
						</div>
	</div>
</div>
			</form>
			<!--添加员工完毕 -->
			<div class="btn-group">
				<a href="javascript:;" class="btn tn full-w" id="save-btn">保存</a>
			</div>
		</div>
	</div>
{% include 'include/ajax_form_js.html' %}
<script type = "text/javascript" src = "{% static 'wechat/js/gr_info.js' %}"></script>
{% endblock %}