{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}<title>基本信息</title>{% endblock %}

{% block content %}
    <link type="text/css" rel="stylesheet" href="{% static 'wechat/css/font-awesome.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'wechat/css/wx-main.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'wechat/css/add.css' %}">

    <div class=" container">
        <div class="row">
            <form id="mainForm">
                <input type="hidden" name="user_id" value="{{ user.id }}"/>
                <div class="form-group inline bg-w">
                    <div class="control-group b-b ">
                        <label class="control-label ">姓名</label>
                        <div class="controls tr">
                            <input type="text" name="realname" class="tr" required
                                   value='{{ user.profile.realname|default_if_none:"" }}'>
                        </div>
                    </div>
                    <div class="control-group b-b">
                        <label class="control-label ">证件号码</label>
                        <div class="controls tr">
                            <input type="text" name="idcart" required
                                   class="tr" value="{{ user.profile.idcart|default_if_none:""}}">
                        </div>
                    </div>
                    <div class="control-group b-b">
                        <label class="control-label ">邮箱地址</label>
                        <div class="controls tr">
                            <input type="email" name="email" class="tr"
                                   value="{{ user.email }}">
                        </div>
                    </div>
                    <div class="control-group b-b">
                        <label class="control-label ">参保地区</label>
                        <div class="controls tr">
                            <input type="text" name="social_city" class="tr" required
                                   value="深圳">
                        </div>
                    </div>
                    <div class="control-group ">
                        <label class="control-label ">户口类型</label>
                        <div class="controls tr">
                            <input type="hidden" id="household" value="{{ user.profile.household_type }}"/>
                            <select name="household_type" class="tr">
                                <option value="local_urban">本地城镇</option>
                                <option value="local_rural">本地农村</option>
                                <option value="nonlocal_urban">外地城镇</option>
                                <option value="nonlocal_rural">外地农村</option>
                            </select>
                        </div>
                    </div>
                    {#                    <div class="control-group b-b">#}
                    {#                        <label class="control-label ">公积金账户</label>#}
                    {#                        <div class="controls tr">#}
                    {#                            <input type="text" name="cpf_count" class="tr"#}
                    {#                                   value="{{ user.profile.cpf_count }}">#}
                    {#                        </div>#}
                    {#                    </div>#}
                </div>
                <div class="btn-group">
                    <a href="javascript:;" class="btn tn full-w" id="submitBtn">保存</a>
                </div>
            </form>
        </div>
    </div>

    {% include 'include/ajax_form_js.html' %}

    <script type="text/javascript">
        var household = $("#household").val();
        $("select[name=household_type] option").each(function (i, obj) {
            if ($(this).val() == household) {
                $(this).attr("selected", true)
            }
        });

        var formSubmit = Nature.FormSubmit;
        ajaxInfo = {
            url: "/wechat/userinfo/", //ajax请求url
            success_redirect_url: "/wechat/userinfo/" //请求成功跳转url
        }

        formSubmit({}, ajaxInfo)
    </script>

{% endblock %}