{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}<title>基本信息</title>{% endblock %}
{% block content %}
<style>
.personal_info{
    font-size: large;
    border-bottom: hidden;

}
.personal_info span{
    color: #4abf58;
    float: right;
}
input{
    text-align: right;
}

</style>
<div class="weui-cells weui-cells_form">
    <form id="ajaxForm" method="post">
    <div class="weui-cells__title personal_info">个人身份信息<span class="ion-edit">编辑</span></div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">姓名</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="text" name="name" value="李超">
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">证件号码</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="number" pattern="[0-9]*" name="credit_card" value="82834724827487247"/>
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd"><label for="" class="weui-label">邮箱地址</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" name="email" type="email" value="29342834@qq.com"/>
        </div>
    </div>

    <div class="weui-cell">
        <div class="weui-uploader">
            <div class="weui-uploader__hd">
                <p class="weui-uploader__title">图片上传</p>
            </div>
            <div class="weui-uploader__bd">
                <ul class="weui-uploader__files" id="uploaderFiles">
                    <li class="weui-uploader__file" style=background-image:url("{% static 'wechat/img/1.jpeg' %}")></li>
                    <li class="weui-uploader__file" style=background-image:url("{% static 'wechat/img/1.jpeg' %}")></li>
                </ul>
            </div>
        </div>
     </div>

    </form>

    <form id="ajaxForm" method="post">
    <div class="weui-cells__title personal_info">社保信息<span class="ion-edit">编辑</span></div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">参保地区</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="text" name="sb_address" value="深圳">
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">户口类型</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="text"  name="hk_type" value="本地农村"/>
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd"><label for="" class="weui-label">社保缴纳</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" name="sb_jina" type="text" value="在当地缴过"/>
        </div>
    </div>

    <div class="weui-cell">
        <div class="weui-cell__hd"><label for="" class="weui-label">公积金缴纳</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" name="sb_jina" type="text" value="在当地缴过"/>
        </div>
    </div>
    </form>

    <form id="ajaxForm" method="post">
    <div class="weui-cells__title personal_info">银行卡信息<span class="ion-edit">编辑</span></div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">持卡人</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="text" name="bank_owner" value="李超">
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">银行卡号</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="number" pattern="[0-9]*" name="bank_num" value="499999****999"/>
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd"><label for="" class="weui-label">开户行</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" name="bank_name" type="text" value=""/>
        </div>
    </div>

    <div class="weui-cell">
        <div class="weui-cell__hd"><label for="" class="weui-label">开户支行</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" name="bank_switchs" type="text" value=""/>
        </div>
    </div>
    </form>
</div>
<div class="weui-btn-area">
    <a class="weui-btn weui-btn_primary" href="javascript:" id="showTooltips">提交</a>
</div>
{% endblock %}
