{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <main class="col-md-12">
                <div class="form-wrapper">
                    <h1 class="page-title">登录</h1>

                    <form action="" method="post" class="login-form">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-4 col-md-offset-4">
                                {{ form.non_field_errors }}
                                <input type="text" name="username" placeholder="用户名" value="{{ form.data.username }}"/>
                                {{ form.errors.username }}
                                <input type="text" name="verifycode" placeholder="验证码"/>
                                {{ form.errors.verifycode }}

{#                                {% for field in form %}#}
{#                                    {{ field }}#}
{#                                    {{ field.errors }}#}
{#                                {% endfor %}#}

                                <button class="login-btn">登录</button>
                            </div>
                        </div>
                        <!-- row -->
                    </form>
                </div>
            </main>
        </div>
    </div>
{% endblock %}


{# comment #}