{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>91小保</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <meta name="x5-fullscreen" content="true">
    <meta name="full-screen" content="yes">
    <link type="text/css" rel="stylesheet" href="{% static 'wechat/css/font-awesome.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'wechat/css/wx-main.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'wechat/css/contract.css' %}">
    <!--[if lt IE 9]>
   <script src="js/html5shiv.js"></script>
   <script src="js/selectivizr-min.js"></script>
   <![endif]-->
</head>
<body>
<div class="container p-d-80">
    <div class="row bg-w">
        <h6 class=" b-b p n-m tip m-f tc">在线服务协议</h6>
        <div class="contract-content m-t-sm p">
            <div class="row">
                <p class="t-sm">本服务协议是用户（您）与博爱（深圳）企业管理有限公司（以下简称“91小保”）之间的协议，适用于91小保的手机服务平台、微信服务平台及相关网站服务平台。</p>
                <p class="t-sm">
                    91小保在此特别提醒用户认真阅读、充分理解本《服务协议》（下称《协议》）中各条款，包括免除或者限制91小保责任的免责条款及对用户的权利限制条款。如果您对本服务条款中条款有疑问的，您可以与91小保客服联系咨询，由其向您解释条款内容。</p>
                <p class="t-sm">
                    除非您接受本《协议》所有条款，否则您无权注册、登录或使用本协议所涉相关服务。您的注册、登录、使用等行为将视为对本《协议》的接受，并同意接受本《协议》各项条款的约束。您必须完成付费后才能享受本协议项下的相关增值服务。</p>
            </div>
            <div class="row">
                <h6 class="t-sm bold">一、定义</h6>
                <p class="t-sm">
                    1、“91小保”是指博爱（深圳）企业管理有限公司以及博爱（深圳）企业管理有限公司拥有劳务派遣资质的全资子公司，是本协议相关产品的提供方，是一家可以通过手机服务平台以及网站平台上提供全国社会保险、住房公积金等在线办理和其他人力资源服务、企业服务的专业服务机构。
                </p>
                <p class="t-sm">
                    2、“用户”是指完成全部注册流程，愿意接受91小保用户服务协议，在其规定下使用91小保服务并支付费用的注册用户。
                </p>
                <p class="t-sm">
                    3、《协议》是您（下称“用户”）与91小保之间关于用户注册、登录、使用91小保服务所订立的协议。本《协议》描述91小保与用户之间关于91小保提供相关服务方面的权利义务。
                </p>
                <p class="t-sm">
                    4、“费用”是指用户应支付给91小保各项费用之总和，包括但不限于用户选择服务所涉及到社会保险、住房公积金、91小保服务费及其他政府部门强制收取的费用（如残疾人就业保障金）等。
                </p>
            </div>
            <div class="row">
                <h6 class="t-sm bold">二、用户注意事项</h6>
                <p class="t-sm">
                    1、 当用户使用本服务平台时，已经知晓并且同意本协议中的条款。
                </p>
                <p class="t-sm">
                    2、
                    用户在使用服务时应保证身份的真实性、正确性及完整性，如果资料发生变化，您应及时更改。用户在安全完成本服务的注册程序后会收到一个密码及账号，您应保护密码及账号的机密安全。您应对任何人利用您的密码及账号所进行的活动负完全的责任。91小保无法对非法或未经您授权使用您账号及密码的行为作出甄别，因此91小保不承担任何责任。在此，您同意并承诺做到∶
                </p>
                <p class="t-sm">
                    2.1 当您的密码或账号遭到未获授权的使用，或者发生其他任何安全问题时，您会立即有效通知到91小保。
                </p>
                <p class="t-sm">
                    2.2 当您每次上网或使用其他服务完毕后，会将有关账号安全退出。
                </p>
                <p class="t-sm">
                    2.3 用户同意接受91小保通过手机短信、电子邮件、微信、钉钉、91小保客户端软件、网页或其他合法方式向用户发送服务及其它信息，该信息一经发出，即视为送达。
                </p>
                <p class="t-sm">
                    3、您对本协议的接受即接受全部服务条款的约束，包括接受91小保对任一服务条款随时所做的任何修改。本《协议》可由91小保随时更新，更新后的协议条款一旦公布即代替原来的协议条款，恕不再另行通知，用户可在本网站查阅最新版协议条款。在91小保修改《协议》条款后，如果用户不接受修改后的条款，请立即停止使用91小保提供的服务，用户继续使用91小保提供的服务将被视为已接受了修改后的协议。
                </p>
                <p class="t-sm">
                    4、只有符合下列条件之一的自然人或法人才能申请成为本网站用户，可以使用本网站的服务：
                </p>
                <p class="t-sm">
                    4.1 年满十八岁，并具有民事权利能力和民事行为能力的自然人；
                </p>
                <p class="t-sm">
                    4.2 无民事行为能力人或限制民事行为能力人应经过其监护人的同意；
                </p>
                <p class="t-sm">
                    4.3
                    根据中国法律、法规、行政规章成立并合法存在的机关、企事业单位、社团组织和其他组织。无法人资格的单位或组织不当注册为本网站用户的，其与本网站之间的协议自始无效，本网站一经发现，有权立即终止对该用户的服务，并追究其使用本网站服务的一切法律责任。
                </p>
            </div>
            <div class="row">
                <h6 class="t-sm bold">三、服务内容</h6>
                <p class="t-sm">
                    1、
                    91小保在其手机服务平台、微信服务平台、网站平台等向用户提供包括但不限于社会保险及其它相关项目、住房公积金缴纳等劳动保障事务方面的代理服务、人力资源派遣外包业务、招聘业务、企业服务业务、法律咨询业务、工商代办业务、财税代理业务、薪酬代发业务、员工福利管理业务等各类企业和个人相关服务。
                </p>
                <p class="t-sm">
                    2、 用户应根据91小保所提供的服务项目自行选择社会保险及公积金缴纳地、缴费基数及比例（具体以当地政府部门规定为准）、服务期限及服务费用标准、费用支付方式等。
                </p>
                <p class="t-sm">
                    3、
                    费用及相关明细将在91小保提供的服务方案中予以列明公示，用户可在手机服务台或网站完成注册、服务项目确认，并按91小保所列明的价格予以支付费用。之后91小保将根据用户选项向相关社保部门或税务部门、住房公积金中心办理代缴服务。
                </p>
                <p class="t-sm">
                    4、
                    用户应根据本协议的约定及时足额支付全部费用，包括但不限于社会保险、公积金及其它因社保保险缴纳所涉及到政府部门要收取的相关联费用。否则91小保平台有权拒绝为您继续提供相关服务。服务期间如遇当地政府调整费用或91小保调整服务费用，如用户未主动终止服务项目，视为用户默认继续按新规执行。
                </p>
                <p class="t-sm">
                    5、
                    91小保没有为用户垫款的义务，在用户未按照约定时间足额支付全部费用时（包括但不限于调整后的差额、政府部门新增或额外收取的费用），91小保无需提前告知用户即可终止本协议，由此产生的一切损失和后果均由用户自行承担。
                </p>
                <p class="t-sm">
                    6、 用户同意91小保可在用户选择的缴费城市委托当地具有人力资源资质的代理机构或者具备其他对应服务资质的公司提供本协议项下的服务。
                </p>
            </div>
            <div class="row">
                <h6 class="t-sm bold">
                    四、服务风险及免责声明
                </h6>
                <p class="t-sm">
                    1、 用户对在91小保平台上注册账号、密码的完整性和保密性负责。因用户使用或保密不当致使上述账号、密码等丢失或泄露所引起的一切损失和后果均由用户自行承担。
                </p>
                <p class="t-sm">
                    2、
                    用户在91小保平台上必须按您身份证、户口本的信息准确无误填写您的姓名、身份证号码、户口性质、社会保险及住房公积金缴纳城市和缴纳基数及比例等重要信息。若您办理的是企业服务，则需要准确提供企业名称、营业执照等相关信息。当您填写相关信息发生变化时请及时更新，否则用户您将为此承担相应的后果。
                </p>
                <p class="t-sm">
                    3、 用户您所提供的身份信息或者企业信息与政府相关征缴部门的信息不一致，而您又不能依法提供相关文件加以证明，由此造成的一切损失和后果均由用户自行承担。
                </p>
                <p class="t-sm">
                    4、
                    用户在注册时应向91小保提交真实有效的邮箱和紧急联系方式。如发生变动，用户应自行将变动后的信息进行在线更新。因用户提交填写信息不真实、不准确、不完整，造成91小保通知不到，由此产生的一切损失和后果均由用户承担。
                </p>
                <p class="t-sm">
                    5、
                    91小保所提供的社会保险、住房公积金等费用明细会随着缴纳地政府相关政策的调整而作相应的调整。用户在使用91小保服务期间如遇政策调整导致缴纳费用出现差额，用户必须按91小保的要求及时补足，否则91小保有权随时终止用户所选择的服务，而无需再行告知用户，由此产生的一切损失和后果均由用户承担。
                </p>
                <p class="t-sm">
                    6、 鉴于政策的变化及91小保的经营需要，用户同意91小保可根据实际情况随时调整服务内容或终止本服务，91小保无需为此承担任何责任。
                </p>
                <p class="t-sm">
                    7、 基于为更好服务用户的目的，91小保会使用到用户相关资料及数据或向相关部门、第三方提供，用户同意91小保在上述行为中不构成对用户个人隐私的侵犯，91小保无需为此承担责任。
                </p>
                <p class="t-sm">
                    8、
                    用户明白，因各地政府所制订的政策存在差异性，且公布实施也存在时间差，91小保尽最大力量来保证提供给用户所需服务的及时性和准确性。若服务信息于实际情况确有差异，91小保会积极予以更正并在第一时间内处理，91小保无需为此承担任何责任。
                </p>
                <p class="t-sm">
                    9、
                    如发生不可抗力，诸如地震、台风、水灾、火灾或其他自然灾害，爆炸、骚乱、战争、行政当局的行动，或并非91小保所能合理控制的其他无法预见到或突发的事件（如系统突发性故障、黑客攻击、网络病毒、电信部门管制等），阻碍91小保履行其在本协议项下的服务，91小保会积极予以补救并在第一时间内及时处理，91小保无需为此承担任何责任。
                </p>
                <p class="t-sm">
                    10、用户明白，91小保在网站、服务平台提供的社会保险缴纳、住房公积金缴纳、薪酬福利代发等劳动保障事务的代理服务工作并不意味着双方建立起劳动关系。用户承诺：无论何时均不会因91小保的代理服务行为向91小保提出任何劳动关系方面的诉求。
                </p>
                <p class="t-sm">
                    11、因网上信息平台的特殊性，本网站不承担对所有用户的操作行为以及与之有关的其他事项进行事先审查的义务，但如发生以下情形，本网站有权无需征得用户的同意限制用户的活动、向用户核实有关资料、发出警告通知、暂时中止、无限期中止及拒绝向该用户提供服务：
                </p>
                <p class="t-sm">
                    11.1 用户以非自然人名义进行认证之后认证主体自行注销或者经有权机关吊销或撤销的；
                </p>
                <p class="t-sm">
                    11.2 用户违反本协议或因被提及而纳入本协议的相关规则；
                </p>
                <p class="t-sm">
                    11.3 存在用户或其他第三方通知本网站，认为某个用户或具体交易事项存在违法或不当行为，并提供相关证据，而本网站无法联系到该用户核证或验证该用户向本网站提供的任何资料；
                </p>
                <p class="t-sm">
                    11.4
                    存在用户或其他第三方通知本网站，认为某个用户或具体交易事项存在违法或不当行为，并提供相关证据。本网站以普通非专业人员的知识水平标准对相关内容进行判别，可以明显认为这些内容或行为可能对他方或本网站造成财务损失或承担法律责任。
                </p>
            </div>
            <div class="row">
                <h6 class="t-sm bold">
                    五、服务变更、中断或终止及服务条款的修改
                </h6>
                <p class="t-sm">
                    1、
                    本服务的所有权和运作权、一切解释权归91小保。91小保有权在必要时修改服务条款。服务条款一旦发生变动，将会在相关网站、服务平台上公布修改后的服务条款。如果不同意所改动的内容，用户应主动取消此项服务。如果用户继续使用服务，则视为接受服务条款的变动。
                </p>
                <p class="t-sm">
                    2、
                    特别提请用户注意，91小保为了适应当地政府政策的变化以及保障公司业务发展和调整的自主权，91小保拥有自行调整服务内容、中断或中止部分或全部服务的权利。调整将会以通告形式公布于网站、服务平台上，用户须定期浏览网站、服务平台相关信息，如用户不接受调整后的服务内容，用户应于调整后一周内与本公司终止服务协议，用户既未在规定的时间内与本公司办理终结服务，又在继续使用本公司提供的相关服务的，将被视为用户同意服务调整并接受相关的服务。
                </p>
                <p class="t-sm">
                    3、 如发下列任何一种情形，91小保有权随时中断或终止向用户提供服务而无需通知用户：
                </p>
                <p class="t-sm">
                    3.1 用户提供资料导致91小保无法按服务条款进行操作；
                </p>
                <p class="t-sm">
                    3.2 用户违反本服务条款的规定未能及时缴纳费用；
                </p>
                <p class="t-sm">
                    3.3 按照政府相关部门的要求；
                </p>
                <p class="t-sm">
                    3.4 其他91小保认为是符合整体服务需求的特殊情形。
                </p>
            </div>
            <div class="row">
                <h6 class="t-sm bold">六、知识产权</h6>
                <p class="t-sm">
                    1、
                    91小保定义的知识产权内容包括：文字、软件、声音、相片、录像、图表、网页以及服务平台的全部内容、91小保为用户提供的特定服务项目内容。所有这些内容受版权、商标权及其它知识产权、所有权法律的保护。所以，用户只能在91小保及相关权利人授权下才能使用这些内容，而不能擅自使用、抄袭、复制、修改、编撰这些内容、或创造与内容有关的衍生产品。
                </p>
                <p class="t-sm">
                    2、
                    91小保提供的软件：您了解并同意，本服务及本服务所使用或提供之相关软件（以下简称“软件”）是由91小保拥有所有相关知识产权及其他法律保护之专有之知识产权（包括但不限于版权、商标权、专利权及商业秘密）资料。对于未提供单独的软件授权协议的软件，除您应遵守本服务协议外，91小保或所有权人仅将为您个人提供可取消、不可转让、非专属的软件授权许可，并仅为访问或使用本服务之目的而使用该软件。此外，在任何情况下，未经91小保明示授权，您均不得修改、出租、出借、出售、散布本软件之任何部份或全部，或据以制作衍生著作，或使用擅自修改后的软件，或进行还原工程、反向编译，或以其他方式发现原始编码，包括但不限于为了未经授权而使用本服务之目的。
                </p>
            </div>
            <div class="row">
                <h6 class="t-sm bold">七、法律</h6>
                <p class="t-sm">
                    1、 本协议服务条款不得违反国家相关法律、法规的规定，如发生服务条款与相关法律、法规条款有相抵触的内容，抵触部分以法律、法规条款为准。91小保将修改服务条款直至符合法律规定。
                </p>
                <p class="t-sm">
                    2、 本协议服务条款的订立、执行和争议均适用于中华人民共和国法律，受中华人民共和国法律管辖。本协议履行期间发生争议，双方应尽力协商解决，协商不成，双方同意将争议提交91小保所在地人民法院管辖。
                </p>
            </div>
            <div class="row">
                <h6 class="t-sm bold">八、保障</h6>
                <p class="t-sm">
                    1、 用户同意保障和维护91小保的利益，负责支付由用户使用超出服务范围或不当使用服务引起的一切费用（包括但不限于：律师费用、违反服务条款的损害补偿费用等）。
                </p>
                <p class="t-sm">
                    2、 用户须对违反国家法律规定及本服务条款所产生的一切后果承担法律责任。
                </p>
            </div>
            <div class="row">
                <h6 class="t-sm bold">九、其它</h6>
                <p class="t-sm">
                    1、 如本服务条款中的任何条款无论因何种原因完全或部分无效或不具有执行力，本服务条款的其余条款仍应有效且具有约束力。
                </p>
                <p class="t-sm">
                    2、 本服务条款构成您与91小保之服务协议，规范您对本服务之使用。
                </p>
                <p class="t-sm">
                    3、 91小保每项服务的内容、收费标准、收费方式、服务费及服务条款应以最后发布通知为准。
                </p>
                <p class="t-sm">
                    4、 用户对服务之任何部分或本服务条款的任何部分之意见及建议联系91小保。
                </p>
                <p class="t-sm">
                    5、本协议所有条款的标题仅为阅读方便，本身并无实际涵义，不能作为本协议涵义解释的依据。
                </p>
                <p class="t-sm">
                    6、 91小保保留本服务条款之解释权。<br/>
                    在此再次申明：若您已经注册为本网站用户，即表示您已充分阅读、理解并同意自己与本网站订立本协议，且您自愿受本协议的条款约束。本网站有权随时变更本协议并在本网站上予以公告。经修订的条款一经在本网站的公布后，立即自动生效。如您不同意相关变更，必须停止使用本网站。本协议内容包括协议正文及所有91小保的服务平台已经发布的各类规则。所有规则为本协议不可分割的一部分，与本协议正文具有同等法律效力。一旦您继续使用本网站，则表示您已接受并自愿遵守经修订后的条款。
                </p>
            </div>
        </div>
    </div>
</div>
</body>
</html>