.btn {
    display: inline-block;
    text-align: center;
    border: 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 0 15px;
    height: 40px;
    line-height: 40px;
    letter-spacing: 1px;
    text-shadow: 0 1px 1px #3B9E40;
    font-size: 14px;
    vertical-align: top;
    background: #68C269;
    background-color: #68C269;
    background-image: -moz-linear-gradient(top, #68C269 0, #68C269 100%);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#68C269), to(#68C269));
    background-image: -webkit-linear-gradient(top, #68C269 0, #68C269 100%);
    background-image: -o-linear-gradient(top, #68C269 0, #68C269 100%);
    background-image: linear-gradient(to bottom, #68C269 0, #68C269 100%);
    outline: 0;
    color: #fff;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box
}

.btn:active, .btn:hover, .btn:visited {
    color: #fff
}

.btn.sm {
    height: 40px;
    line-height: 40px
}

.btn.cancel {
    background: #f9f8f8;
    background-color: #f9f8f8;
    background-image: -moz-linear-gradient(top, #f9f8f8 0, #f9f8f8 100%);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f9f8f8), to(#f9f8f8));
    background-image: -webkit-linear-gradient(top, #f9f8f8 0, #f9f8f8 100%);
    background-image: -o-linear-gradient(top, #f9f8f8 0, #f9f8f8 100%);
    background-image: linear-gradient(to bottom, #f9f8f8 0, #f9f8f8 100%);
    color: #585858;
    text-shadow: 0 1px 0 #fff
}

.btn.disabled {
    background: #dedede;
    background-color: #dedede;
    background-image: -moz-linear-gradient(top, #dedede 0, #dedede 100%);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dedede), to(#dedede));
    background-image: -webkit-linear-gradient(top, #dedede 0, #dedede 100%);
    background-image: -o-linear-gradient(top, #dedede 0, #dedede 100%);
    background-image: linear-gradient(to bottom, #dedede 0, #dedede 100%);
    color: #8a8a8a;
    text-shadow: 0 1px 0 #fff
}

.btn-group {
    text-align: center;
    margin-top: 30px;
    padding: 0 20px
}

.btn-group .btn + .btn {
    margin-left: 20px
}

@media screen and (max-width: 320px) {
    .btn-group {
        padding: 0 10px
    }
}

.btn-group.operate {
    margin-top: 0;
    text-align: right;
    position: absolute;
    right: 0;
    font-size: 0;
    padding: 0;
    top: 0;
    right: -122px
}

.btn-group.operate .btn {
    border-radius: 0;
    padding: 0 15px;
    letter-spacing: 1px;
    margin-left: 0
}

.btn-group.operate .btn.edit {
    background: #ccc;
    text-shadow: 0 1px 1px #B5B5B5
}

.btn-group.operate .btn.delete {
    background: #FF3C3C;
    text-shadow: 0 1px 1px #B71313
}

.uneditable-input, input[type=text], input[type=url], input[type=search], input[type=tel], input[type=color], input[type=password], input[type=datetime], input[type=datetime-local], input[type=date], input[type=month], input[type=time], input[type=week], input[type=number], input[type=email], select, textarea {
    -webkit-appearance: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 0;
    display: inline-block;
    height: 35px;
    padding: 0;
    font-size: 14px;
    line-height: 35px;
    color: #101010;
    background: #fff;
    vertical-align: top;
    font-family: "microsoft yahei";
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    border: 1px solid transparent;
    box-shadow: inset 0 0 0 #efefef;
    -webkit-box-shadow: inset 0 0 0 #efefef;
    -moz-box-shadow: inset 0 0 0 0 #efefef;
    -webkit-tap-highlight-color: transparent;
    -moz-tap-highlight-color: transparent;
    -o-tap-highlight-color: transparent;
    tap-highlight-color: transparent
}

.uneditable-input:focus, input[type=text]:focus, input[type=url]:focus, input[type=search]:focus, input[type=tel]:focus, input[type=color]:focus, input[type=password]:focus, input[type=datetime]:focus, input[type=datetime-local]:focus, input[type=date]:focus, input[type=month]:focus, input[type=time]:focus, input[type=week]:focus, input[type=number]:focus, input[type=email]:focus, select:focus, textarea:focus {
    box-shadow: 0 0 0 #fff;
    -webkit-box-shadow: 0 0 5px #fff;
    -moz-box-shadow: 0 0 5px #fff;
    border: 1px solid transparent
}

input[type=datetime], input[type=datetime-local], input[type=date], select {
    box-shadow: 0 0 0 0 transparent;
    -webkit-box-shadow: 0 0 0 0 transparent;
    -moz-box-shadow: 0 0 0 0 transparent;
    -o-box-shadow: 0 0 0 0 transparent
}

select.tr {
    direction: rtl
}

select.tr option {
    direction: rtl;
    color: #101010
}

.warning {
    text-indent: 10px;
    font-size: 14px;
    color: #FF3D3D;
    line-height: 20px;
    position: absolute
}

.form-group {
    padding: 0 20px
}

.form-group.inline .control-label {
    float: left;
    font-size: 16px
}

.form-group.inline .control-group {
    overflow: hidden;
    padding: 5px 0;
    font-size: 0
}

.control-group .error {
    position: relative
}

.control-group .error input, .control-group .error select {
    text-shadow: none
}

.control-group .error span.hint {
    display: block;
    color: #f78f8f;
    font-size: 12px;
    right: 0;
    width: 300px;
    top: 26px;
    position: absolute;
    height: 15px;
    line-height: 15px
}

.control-group span.hint {
    display: none
}

.control-group .control-label {
    width: 35%;
    vertical-align: top;
    line-height: 35px
}

.control-group .controls {
    vertical-align: top;
    line-height: 35px;
    margin-left: 35%
}

.control-group .controls label {
    margin-right: 4px;
    display: inline-block;
    line-height: 1;
    vertical-align: middle
}

.control-group .controls .grey-f {
    vertical-align: top
}

.control-group .controls span {
    font-size: 14px;
    margin-left: 3px;
    vertical-align: top
}

.control-group input[type=text], .control-group input[type=date], .control-group input[type=number] {
    width: 100%;
    font-size: 14px
}

.control-group input.half-control, .control-group input.s-control, .control-group select.half-control, .control-group select.s-control {
    width: 50%
}

.control-group input.triple-control, .control-group select.triple-control {
    width: 33%
}

.control-group select {
    padding: 0 15px 0 0;
    width: 100%;
    font-size: 14px;
    background: #fff url(../img/a-down.svg) right 14px no-repeat !important;
    background-size: 7px 7px !important
}

.control-group select:active, .control-group select:focus {
    outline: 0;
    border: 1px solid transparent
}

@media all and (max-width: 320px) {
    .form-group {
        padding: 0 10px
    }

    .form-group.inline .control-group input.s-control {
        width: 50%
    }

    .form-group.inline .control-group .control-label {
        width: 40%
    }

    .form-group.inline .control-group .controls {
        margin-left: 45%
    }
}

.table {
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%
}

.table td:first-child, .table th:first-child {
    text-align: left
}

.table td, .table th {
    text-align: right;
    line-height: 40px;
    font-size: 16px
}

.table tbody {
    border-bottom: 1px solid #efefef
}

.table tfoot td {
    line-height: 60px
}

.back-drop, .modal-backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #000;
    top: 0;
    left: 0;
    z-index: 99;
    opacity: .7
}

.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    outline: 0
}

.modal .modal-dialog {
    position: relative;
    min-width: 250px;
    margin: 60px auto;
    outline: 0;
    border-radius: 5px;
    -webkit-border-radius: 5px
}

.modal .modal-dialog .group {
    padding: 5px
}

.modal .modal-dialog .btn {
    background: #f8f9f9;
    background-color: #f8f9f9;
    background-image: -moz-linear-gradient(top, #f8f9f9 0, #f8f9f9 100%);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#fff));
    background-image: -webkit-linear-gradient(top, #f8f9f9 0, #f8f9f9 100%);
    background-image: -o-linear-gradient(top, #f8f9f9 0, #f8f9f9 100%);
    background-image: linear-gradient(to bottom, #f8f9f9 0, #f8f9f9 100%);
    color: #101010;
    text-shadow: 0 1px 1px #DCDCDC
}

.modal .modal-dialog .btn-group {
    margin-bottom: 10px;
    margin-top: 30px
}

.modal .modal-content {
    position: relative;
    background-clip: padding-box;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    overflow: hidden;
    outline: 0;
    height: 100%
}

.modal .modal-content h1, .modal .modal-content h2, .modal .modal-content h3, .modal .modal-content h4, .modal .modal-content h5, .modal .modal-content h6, .modal .modal-content label, .modal .modal-content li, .modal .modal-content p {
    color: #fff;
    font-size: 14px;
    line-height: 25px
}

.modal .modal-content .row {
    border-radius: 0;
    -webkit-border-radius: 0;
    padding: 15px 20px
}

.modal .modal-content .row h1, .modal .modal-content .row h2, .modal .modal-content .row h3, .modal .modal-content .row h4, .modal .modal-content .row h5, .modal .modal-content .row h6, .modal .modal-content .row label, .modal .modal-content .row li, .modal .modal-content .row p {
    color: #101010
}

.modal .form-group.inline .control-group {
    overflow: hidden;
    padding: 5px 0;
    font-size: 0
}

.modal .form-group.inline .control-group select {
    background: #fff url(../weixin_image/a-down.svg) right 12px no-repeat !important;
    background-size: 6px 6px !important
}

.modal .modal-body .container {
    padding: 20px 0
}

.modal .modal-header .modal-title {
    line-height: 40px;
    height: 40px;
    font-size: 18px;
    color: #101010
}

.modal .modal-footer {
    text-align: center;
    border-top: 1px solid #efefef;
    padding: 10px 0
}

.slide {
    margin-right: 0 !important;
    width: auto !important
}

.icon-toggle-off, .icon-toggle-on {
    font-size: 28px
}

.ui-check {
    font-size: 16px;
    width: 50%
}

div.p {
    padding-top: 10px
}

div.p h4 {
    line-height: 30px
}

.table td, .table th {
    padding: 0
}

.table .p-t-sm {
    padding-top: 10px
}

.table .p-b-sm {
    padding-bottom: 10px
}

.footer {
    height: 60px;
    margin-top: -60px
}

.footer .fl {
    line-height: 40px
}

.pa.grey-f {
    right: 0
}

.controls.pr input {
    padding-right: 18px
}

.p-b {
    padding-bottom: 10px
}

.modal p.grey-f {
    text-indent: 25px
}

.modal .modal-dialog .btn.confirm {
    background: #68C269;
    background-color: #68C269;
    background-image: -moz-linear-gradient(top, #68C269 0, #68C269 100%);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#68C269), to(#68C269));
    background-image: -webkit-linear-gradient(top, #68C269 0, #68C269 100%);
    background-image: -o-linear-gradient(top, #68C269 0, #68C269 100%);
    background-image: linear-gradient(to bottom, #68C269 0, #68C269 100%);
    color: #fff;
    text-shadow: 0 1px 1px #4aa44b
}

@media all and (max-width: 320px) {
    .controls.pr input {
        padding-right: 12px
    }
}