{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}<title>已支付订单</title>{% endblock %}

{% block content %}
    <link type="text/css" rel="stylesheet" href="{% static 'wechat/css/font-awesome.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'wechat/css/wx-main.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'wechat/css/bill.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'wechat/css/wx-wait.css' %}">
    <!--[if lt IE 9]>
   <script src="js/html5shiv.js"></script>
   <script src="js/selectivizr-min.js"></script>
   <![endif]-->

    <div class="container p-d-80">
        <header class="header m-b">
            <nav>
                <ul>
                    <li class=""><a href="{% url 'wechat:unpayorder' %}" class="grey-f t-sm">待付订单</a></li>
                    <li class="active" style="float: right"><a href="javascript:void(0);" class="grey-f t-sm">已付订单</a>
                    </li>
                </ul>
            </nav>
        </header>

        {% for item in order_list %}
            <div class="row bg-w p pr">
                <ul class="bill-item">
                    <li><label>参保人</label><span class="pull-right">{{ user.profile.realname }}</span></li>
                    <li><label>参保城市</label><span class="pull-right">深圳</span></li>
                    <li><label>业务类型</label><span class="pull-right">社保公积金</span></li>
                    <li><label>起缴月份</label>
                        <span class="pull-right">{{ item.order_item.startmonth|date:"Y年n月" }}</span>
                    </li>
                    <li><label>结束月份</label>
                        <span class="pull-right">{{ item.order_item.endmonth |date:"Y年n月"}}</span>
                    </li>
                    <li><label>实付款</label><span class="pull-right bill_money">{{ item.pay_amount }}元</span></li>
                </ul>
                <a class="pa" href="{% url 'wechat:payorder_detail' item.order_id %}"><i
                        class="icon-angle-right"></i></a>
            </div>
            {% empty %}
            <p>没有数据</p>
        {% endfor %}
    </div>

    <script type="text/javascript" src="{% static 'wechat/js/zepto.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'wechat/js/gr_pay.js' %}"></script>

{% endblock %}